{% extends "layout.html" %}

{% block main %}

    <header class="mb-3">log in</header>

    <main>
        <form action="/login" method="post">

            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto custom-input" name="username" placeholder="Username" type="text">
            </div>
    
            <div class="mb-3">
                <input class="form-control mx-auto w-auto custom-input" name="password" placeholder="Password" type="password">
            </div>
    
            <button class="btn" type="submit">submit</button>
    
        </form>
    </main>

    {% if alert %}
        <div class="custom-alert" id="notif" role="alert">
            {{ alert }}
        </div>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const notif = document.getElementById("notif");
            if (notif) {
                setTimeout(() => {
                    notif.style.transition = "opacity 0.5s ease";
                    notif.style.opacity = "0";
                    setTimeout(() => notif.remove(), 500);
                }, 3000);
            }
        });
    </script>
    
{% endblock %}