{% extends "layout.html" %}

{% block main %}

    <div class="container">

        <div class="top">
            <p class="top-txt">lives:</p>
            {% for _ in range(trys) %} <!-- Display 'lives'/'tries' based on number of remaining tries -->
            <p class="top-txt">
                X 
            </p>
            {% endfor %}
        </div>

        <main>
            <div>
                <div>
                    <p class="option">difficulty: {{ optn }}</p>
                </div>

                <div class="mt-5 mb-3">
                    <p style="font-weight: bold; font-size: 48px;">{{ scrmb_wrd }}</p>
                </div>
    
                <div class="mt-3 mb-3">
                    <p style="font-style: italic; font-size: 40px;">{{ defn }}</p>
                </div>
                
                <form action="/main" method="post">
                    <div class="mt-3 mb-3">
                        <input type="text" class="custom-input" style="font-size: 48px;" name="ans" maxlength="{{ scrmb_wrd | length }}"> <!-- Limit input length to length of word-->
                    </div>
    
                    <button class="btn" type="submit" style="border: 12px;">submit</button>
                </form>

                <div class="mt-3 mb-3">
                    <p style="font-weight: bold; font-size: 32px;">score: {{ pts }}</p>
                </div>
            </div>
        </main>

        {% if alert %}
        <div class="custom-alert" id="notif" role="alert">
            {{ alert }} <!-- Dynamically displays 'alert' message -->
        </div>
        {% endif %}

        <div class="timer">
            <div class="timer-prog"></div>
        </div>
    </div>

    <script>
        // Handle removal of 'alert' notification
        document.addEventListener("DOMContentLoaded", function () {
            const notif = document.getElementById("notif");
            if (notif) { // Check if 'alert' notification exists
                setTimeout(() => {
                    notif.style.transition = "opacity 0.5s ease"; // Implement 'fade-out' transition effect
                    notif.style.opacity = "0"; // Hide 'alert' notification
                    setTimeout(() => notif.remove(), 500);
                }, 3000); // Show 'alert' for three (3) seconds
            }
        });
    </script>

    <script>
        // Handle dynamic timer display
        let time = 30;
        const timeElmnt = document.querySelector('.timer-prog');
        
        const timeIntvl = setInterval(() => {
            if (time > 0) {
                time -= 1; // Decrement 'time'
                updateTimerDisplay(); // Update timer 'width'
            } else {
                clearInterval(time);
                document.getElementById('time-form').submit(); // Automatically submit form once 'time up'
            }
        }, 1000);

        function updateTimerDisplay() {
            const percentage = (time / 30) * 100;
            timeElmnt.style.width = percentage + '%'; // Adjust progress bar 'width' as percentage of time remaining
        }
    </script>

    <form id="time-form" action="/main" method="post" style="display: none;">
        <input type="hidden" name="time_up" value="1"> <!-- Hidden input to indicate insufficient time remaining -->
    </form>

{% endblock %}
