{% extends "layout.html" %}

{% block main %}

    <header class="mb-3">register</header>

    <main>

        <form action="/register" method="post">

            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control custom-input" name="username" placeholder="Username" type="text">
            </div>
    
            <div class="mb-3">
                <input class="form-control custom-input" name="password" placeholder="Password" type="password">
            </div>
    
            <div class="mb-3">
                <input class="form-control custom-input" name="confirmation" placeholder="Confirmation" type="password">
            </div>
    
            <button class="btn" type="submit">submit</button>
    
        </form>

    </main>

    {% if alert %}
        <div class="custom-alert" id="notif" role="alert">
            {{ alert }} <!-- Dynamically displays 'alert' message -->
        </div>
    {% endif %}

    <script>
        // Handle removal of 'alert' notification
        document.addEventListener("DOMContentLoaded", function () {
            const notif = document.getElementById("notif");
            if (notif) { // Check if 'alert' notification exists
                setTimeout(() => {
                    notif.style.transition = "opacity 0.5s ease"; // Implement 'fade-out' transition effect
                    notif.style.opacity = "0"; // Hide 'alert' notification
                    setTimeout(() => notif.remove(), 500);
                }, 3000); // Show 'alert' for three (3) seconds
            }
        });
    </script>

{% endblock %}
