{% extends "layout.html" %}

{% block main %}

    <header class="mb-3">your scores</header>

    <main>
        <table class="table table-sm table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>score</th>
                    <th>difficulty</th>
                    <th>date</th>
                </tr>
                <tbody>
                    {% for score in scores %} <!-- Iterate through list of scores returned by SQL query -->
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ score.score }}</td>
                        <td>{{ score.difficulty }}</td>
                        <td>{{ score.timestamp[:10] }}</td> <!-- Ensure date is displayed in MM/DD/YYYY format-->
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </main>

{% endblock %}